    *{
    margin:0;
    padding:0;
    border:border-box;
}
/* website navbar */
.navbar-header{
    padding: 16px 16px;
    border-bottom: 5px solid gray;
    background-color:black;
    background-size: cover;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1200px;
    margin: auto;
}
.navbar-links{
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: space-between;
    color: rgb(5, 251, 99);
    font-weight: 500;


}

.navbar-actions{
    display:flex;
    list-style: none;
    align-items: center;
    gap:16px;
    color:white;
    text-decoration: none;
    width: 50px;
    height: auto;
    box-shadow: tomato;

    padding: 10px;
    margin-right: right;
}
.navbar-action-btn{
    display: flex;
    align-items:end;
    gap:4px;
    color: white;
    text-decoration: none;
}
.nav-links{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-links:hover{
    font-weight: 700;
    color: white;
    text-decoration: underline;
}
.cart-badge{
    text-decoration: none;
    position: relative;
}
.cart-number{
    position: absolute;
    font-weight: 800;
    width: 24px;
    height: 24px;
    background-color: tomato;
    border-radius: 9999px;
    top:-16px;
    right:20px;
    display: grid;
    place-items: center;
}
.account-avatar{
    width: 36px;
    height: 36px;
    border-radius: 9999px;
}
main{
    max-width: 1200px;
    margin: auto;
    padding: 24px 0;
}
.categories-container{
    display:flex;
    gap:16px;
    flex-wrap: wrap;
    margin-top: 24px;
}
.nav-search{
    display: flex;
    background-color: pink;
    width: 50px;
}
.category-card{
    border:1px solid gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 24px;
}
.category-card>p{
    font-size: 18px;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 8px;
}
.category.card > img{
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
.category-card:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.products-container{
    margin-top: 24px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:16px;
}
.product-card>img{
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;

}
.product-card{

    box-shadow: 2px 3px 3px tomato;
    border: 1px solid tomato;
    border-radius: 16px;
    padding:16px 24px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.product-card>h4{
    font-size: 24px;
    font-weight: 800;
}
.product-card>span{
    font-size: 18px;
    font-weight: 1800;
}
.product-card>button{
    padding: 12px 16px;
    border-radius: 12px 16px;
    background-color: 9999px;
    color: blue;
    font-size: 16px;
}
.span{
    color: black;
}
.foot-panel1{
    background-color:#37475a;
    color:white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color:#222f3d;
    color: white;
    height: 300px;
    display:flex;
    justify-content: space-evenly;
}
.logo img{
    float: left;
    width: 100px;
    height: auto;
}
.cart img{
    position: fixed;
    width: 100px;
    height: auto;
}



